
body {
    background: rgb(45,211,111); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input, button {
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}
input {
    border: none;
}
button {
    cursor: pointer;
}
form {
    width: 300px;
}
button:active {
    opacity: 0.8;
}
.clear {
    background-color: transparent;
    border: none;
    color: white;
}
.solid {
    background: white;
    border: none;
    color: rgb(45,211,111) ;
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}